.box1 p{
    padding:0 0 0 0.7vw;
    font:0.2vw;
    cursor: pointer;
}
.box2 p{
    padding:0 0 0 0.7vw ;
    font:0.2vw;
    cursor: pointer
}
.box3 p{
    font:0.2vw;
    padding:0 0 0 0.5vw ;
    cursor: pointer
}
.box4 p{
    padding: 0 0 0 1.2vw;
    cursor: pointer
}
.box5 p{
    padding: 0 0 0 0.7vw;
    cursor: pointer
}
.box6 p{
    padding: 0 0 0 1vw;
    cursor: pointer
}
.box7 p{
    padding: 0 0 0 0.8vw;
    cursor: pointer
}
.box8 p{
    padding: 0 0 0 0.8vw;
    cursor: pointer
}
.box9 p{
    padding: 0 0 0 0.5vw;
    cursor: pointer
}
.container2 p:hover{
    color:blue;
}
.box1 img{
    width: 5vw;
    /* height: 4vw; */
}
.box2 img{
    width: 5vw;
}
.box3 img{
    width: 5vw;
    padding: 0 0 0 0.5vw;
}
.box4 img{
    width: 5vw;
}
.box5 img{
    width: 5vw;
    padding: 0 0 0 0.5vw;
}
.box6 img{
    width: 5vw;
}
.box7 img{
    width: 5vw;
    padding: 0 0 0 3vw;
}
.box8 img{
    width: 5vw;
}
.box9 img{
    width: 5vw;
}